// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Components
@import 'components';

.news-style {
    width: 70%;
    margin: auto;
    margin-top: 20px;
    .table-style {
        margin-bottom: 10px;
        input {
            width: 175px;
        }
        .control {
            float: right;
        }
    }
    .table {
        width: 100%;
        .sorting_desc {
            background-image: url('/images/sort.png');
            background-size: 25px;
            background-repeat: no-repeat;
            background-position: center right;
        }

    }
    nav a {
        color: white!important;
        margin-right: 10px;
        background-color: black;
        border-color: black;
    }

    nav a:hover {
        color: black!important;
        background-color: white;
    }
}
h1 {
    text-align: center;
    font-size: 30px;
}
.pagination {
    justify-content: flex-end !important;
    .page-stats {
        align-items: center;
        margin-right: 5px;
    }
    i {
        color: black !important;
    }
}
